<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

    <description>
      Servlet and JSP Examples.
    </description>
    <display-name>Servlet and JSP Examples</display-name>

    <!-- Define example filters -->
    <filter>
        <filter-name>Timing filter</filter-name>
        <filter-class>filters.ExampleFilter</filter-class>
        <init-param>
            <param-name>attribute</param-name>
            <param-value>filters.ExampleFilter</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>Request Dumper Filter</filter-name>
        <filter-class>org.apache.catalina.filters.RequestDumperFilter</filter-class>
    </filter>

    <!-- Example filter to set character encoding on each request -->
    <filter>
        <filter-name>Set Character Encoding</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>EUC_JP</param-value>
        </init-param>
        <init-param>
            <param-name>ignore</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>Compression Filter</filter-name>
        <filter-class>compressionFilters.CompressionFilter</filter-class>
        <init-param>
            <param-name>compressionThreshold</param-name>
            <param-value>128</param-value>
        </init-param>
        <init-param>
            <param-name>compressionBuffer</param-name>
            <param-value>8192</param-value>
        </init-param>
        <init-param>
            <param-name>compressionMimeTypes</param-name>
            <param-value>text/html,text/plain,text/xml</param-value>
        </init-param>
        <init-param>
          <param-name>debug</param-name>
          <param-value>0</param-value>
        </init-param>
    </filter>

    <!-- Define filter mappings for the timing filters -->
    <!--
    <filter-mapping>
        <filter-name>Timing Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->

<!-- Example filter mapping to apply the "Set Character Encoding" filter
     to *all* requests processed by this web application -->
<!--
    <filter-mapping>
        <filter-name>Set Character Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
-->

<!--
    <filter-mapping>
      <filter-name>Compression Filter</filter-name>
      <url-pattern>/CompressionTest</url-pattern>
    </filter-mapping>
-->

<!--
    <filter-mapping>
        <filter-name>Request Dumper Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
-->

    <!-- Define example application events listeners -->
    <listener>
        <listener-class>listeners.ContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>listeners.SessionListener</listener-class>
    </listener>

    <!-- Define servlets that are included in the example application -->

    <servlet>
      <servlet-name>ServletToJsp</servlet-name>
      <servlet-class>ServletToJsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>chat.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompressionFilterTestServlet</servlet-name>
        <servlet-class>compressionFilters.CompressionFilterTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloWorldExample</servlet-name>
        <servlet-class>HelloWorldExample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestInfoExample</servlet-name>
        <servlet-class>RequestInfoExample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestHeaderExample</servlet-name>
        <servlet-class>RequestHeaderExample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestParamExample</servlet-name>
        <servlet-class>RequestParamExample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieExample</servlet-name>
        <servlet-class>CookieExample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionExample</servlet-name>
        <servlet-class>SessionExample</servlet-class>
    </servlet>
    
    
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/jsp/chat/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompressionFilterTestServlet</servlet-name>
        <url-pattern>/CompressionTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloWorldExample</servlet-name>
        <url-pattern>/servlets/servlet/HelloWorldExample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestInfoExample</servlet-name>
        <url-pattern>/servlets/servlet/RequestInfoExample/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestHeaderExample</servlet-name>
        <url-pattern>/servlets/servlet/RequestHeaderExample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestParamExample</servlet-name>
        <url-pattern>/servlets/servlet/RequestParamExample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieExample</servlet-name>
        <url-pattern>/servlets/servlet/CookieExample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionExample</servlet-name>
        <url-pattern>/servlets/servlet/SessionExample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletToJsp</servlet-name>
        <url-pattern>/servletToJsp</url-pattern>
    </servlet-mapping>
    
   
    <jsp-config>
        <taglib>
            <taglib-uri>
               http://tomcat.apache.org/debug-taglib
            </taglib-uri>
            <taglib-location>
               /WEB-INF/jsp/debug-taglib.tld
            </taglib-location>
        </taglib>

        <taglib>
            <taglib-uri>
               http://tomcat.apache.org/example-taglib
            </taglib-uri>
            <taglib-location>
               /WEB-INF/jsp/example-taglib.tld
            </taglib-location>
        </taglib>

        <taglib>
            <taglib-uri>
               http://tomcat.apache.org/jsp2-example-taglib
            </taglib-uri>
            <taglib-location>
               /WEB-INF/jsp2/jsp2-example-taglib.tld
            </taglib-location>
        </taglib>

        <jsp-property-group>
            <description>
                Special property group for JSP Configuration JSP example.
            </description>
            <display-name>JSPConfiguration</display-name>
            <url-pattern>/jsp/jsp2/misc/config.jsp</url-pattern>
            <el-ignored>true</el-ignored>
            <page-encoding>ISO-8859-1</page-encoding>
            <scripting-invalid>true</scripting-invalid>
            <include-prelude>/jsp/jsp2/misc/prelude.jspf</include-prelude>
            <include-coda>/jsp/jsp2/misc/coda.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>

   <security-constraint>
      <display-name>Example Security Constraint</display-name>
      <web-resource-collection>
         <web-resource-name>Protected Area</web-resource-name>
         <!-- Define the context-relative URL(s) to be protected -->
         <url-pattern>/jsp/security/protected/*</url-pattern>
         <!-- If you list http methods, only those methods are protected -->
         <http-method>DELETE</http-method>
         <http-method>GET</http-method>
         <http-method>POST</http-method>
         <http-method>PUT</http-method>
      </web-resource-collection>
      <auth-constraint>
         <!-- Anyone with one of the listed roles may access this area -->
         <role-name>tomcat</role-name>
         <role-name>role1</role-name>
      </auth-constraint>
    </security-constraint>

    <!-- Default login configuration uses form-based authentication -->
    <login-config>
      <auth-method>FORM</auth-method>
      <realm-name>Example Form-Based Authentication Area</realm-name>
      <form-login-config>
        <form-login-page>/jsp/security/protected/login.jsp</form-login-page>
        <form-error-page>/jsp/security/protected/error.jsp</form-error-page>
      </form-login-config>
    </login-config>

    <!-- Security roles referenced by this web application -->
    <security-role>
      <role-name>role1</role-name>
    </security-role>
    <security-role>
      <role-name>tomcat</role-name>
    </security-role>

    <!-- Environment entry examples -->
    <!--env-entry>
      <env-entry-description>
         The maximum number of tax exemptions allowed to be set.
      </env-entry-description>
      <env-entry-name>maxExemptions</env-entry-name>
      <env-entry-type>java.lang.Integer</env-entry-type>
      <env-entry-value>15</env-entry-value>
    </env-entry-->
    <env-entry>
      <env-entry-name>minExemptions</env-entry-name>
      <env-entry-type>java.lang.Integer</env-entry-type>
      <env-entry-value>1</env-entry-value>
    </env-entry>
    <env-entry>
      <env-entry-name>foo/name1</env-entry-name>
      <env-entry-type>java.lang.String</env-entry-type>
      <env-entry-value>value1</env-entry-value>
    </env-entry>
    <env-entry>
      <env-entry-name>foo/bar/name2</env-entry-name>
      <env-entry-type>java.lang.Boolean</env-entry-type>
      <env-entry-value>true</env-entry-value>
    </env-entry>
    <env-entry>
      <env-entry-name>name3</env-entry-name>
      <env-entry-type>java.lang.Integer</env-entry-type>
      <env-entry-value>1</env-entry-value>
    </env-entry>
    <env-entry>
      <env-entry-name>foo/name4</env-entry-name>
      <env-entry-type>java.lang.Integer</env-entry-type>
      <env-entry-value>10</env-entry-value>
    </env-entry>

    <!-- Async examples -->
    <servlet>
      <servlet-name>async0</servlet-name>
      <servlet-class>async.Async0</servlet-class>
      <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
      <servlet-name>async0</servlet-name>
      <url-pattern>/async/async0</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>async1</servlet-name>
      <servlet-class>async.Async1</servlet-class>
      <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
      <servlet-name>async1</servlet-name>
      <url-pattern>/async/async1</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>async2</servlet-name>
      <servlet-class>async.Async2</servlet-class>
      <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
      <servlet-name>async2</servlet-name>
      <url-pattern>/async/async2</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>async3</servlet-name>
      <servlet-class>async.Async3</servlet-class>
      <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
      <servlet-name>async3</servlet-name>
      <url-pattern>/async/async3</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>stock</servlet-name>
      <servlet-class>async.AsyncStockServlet</servlet-class>
      <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
      <servlet-name>stock</servlet-name>
      <url-pattern>/async/stockticker</url-pattern>
    </servlet-mapping>

    <!-- WebSocket Examples -->
    <servlet>
      <servlet-name>wsEchoStream</servlet-name>
      <servlet-class>websocket.echo.FileStream</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>wsEchoStream</servlet-name>
      <url-pattern>/websocket/echoStream</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>wsEchoMessage</servlet-name>
      <servlet-class>websocket.echo.FileMessage</servlet-class>
      <!-- Uncomment the following block to increase the default maximum
           WebSocket buffer size from 2MB to 20MB which is required for the
           Autobahn test suite to pass fully. -->
      <!--
      <init-param>
        <param-name>byteBufferMaxSize</param-name>
        <param-value>20971520</param-value>
      </init-param>
      <init-param>
        <param-name>charBufferMaxSize</param-name>
        <param-value>20971520</param-value>
      </init-param>
      -->
    </servlet>
    <servlet-mapping>
      <servlet-name>wsEchoMessage</servlet-name>
      <url-pattern>/websocket/echoMessage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>wsChat</servlet-name>
        <servlet-class>websocket.chat.ChatWebSocketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>wsChat</servlet-name>
        <url-pattern>/websocket/chat</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>wsSnake</servlet-name>
      <servlet-class>websocket.snake.SnakeWebSocketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>wsSnake</servlet-name>
      <url-pattern>/websocket/snake</url-pattern>
    </servlet-mapping>
 <servlet>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <servlet-class>FileUploadDBServlet</servlet-class>
    </servlet>
<servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>ExamplePackage.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginExample/LoginServlet</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>Heart</servlet-name>
    <servlet-class>Heart</servlet-class>
</servlet>
<servlet>
    <servlet-name>UserInp</servlet-name>
    <servlet-class>UserInp</servlet-class>
</servlet>
<servlet>
    <servlet-name>AreaInp</servlet-name>
    <servlet-class>AreaInp</servlet-class>
</servlet>
<servlet>
    <servlet-name>UserSear</servlet-name>
    <servlet-class>UserSear</servlet-class>
 </servlet>
<servlet>
    <servlet-name>UserDele</servlet-name>
    <servlet-class>UserDele</servlet-class>
</servlet>
<servlet>
    <servlet-name>UserDeleZ</servlet-name>
    <servlet-class>UserDeleZ</servlet-class>
</servlet>
<servlet>
    <servlet-name>UserUpd</servlet-name>
    <servlet-class>UserUpd</servlet-class>
</servlet>
<servlet>
    <servlet-name>UserUpdZ</servlet-name>
    <servlet-class>UserUpdZ</servlet-class>
</servlet>
<servlet>
    <servlet-name>AreaUpd</servlet-name>
    <servlet-class>AreaUpd</servlet-class>
</servlet>
<servlet>
    <servlet-name>AreaUpdZ</servlet-name>
    <servlet-class>AreaUpdZ</servlet-class>
</servlet>
<servlet>
    <servlet-name>AreaUpd2</servlet-name>
    <servlet-class>AreaUpd2</servlet-class>
</servlet>
<servlet>
    <servlet-name>AreaUpdZ2</servlet-name>
    <servlet-class>AreaUpdZ2</servlet-class>
</servlet>

<servlet>
    <servlet-name>UserChg</servlet-name>
    <servlet-class>UserChg</servlet-class>
</servlet>
<servlet>
    <servlet-name>UserChgZ</servlet-name>
    <servlet-class>UserChgZ</servlet-class>
</servlet>
<servlet>
    <servlet-name>UserRest</servlet-name>
    <servlet-class>UserRest</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Heart</servlet-name>
    <url-pattern>/servlet/Heart</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>UserInp</servlet-name>
    <url-pattern>/servlet/UserInp</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>AreaInp</servlet-name>
    <url-pattern>/servlet/AreaInp</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>UserSear</servlet-name>
    <url-pattern>/servlet/UserSear</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>UserDele</servlet-name>
    <url-pattern>/servlet/UserDele</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>UserDeleZ</servlet-name>
    <url-pattern>/servlet/UserDeleZ</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>UserUpd</servlet-name>
    <url-pattern>/servlet/UserUpd</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>UserUpdZ</servlet-name>
    <url-pattern>/servlet/UserUpdZ</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>AreaUpd</servlet-name>
    <url-pattern>/servlet/AreaUpd</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>AreaUpdZ</servlet-name>
    <url-pattern>/servlet/AreaUpdZ</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>AreaUpd2</servlet-name>
    <url-pattern>/servlet/AreaUpd2</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>AreaUpdZ2</servlet-name>
    <url-pattern>/servlet/AreaUpdZ2</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>UserChg</servlet-name>
    <url-pattern>/servlet/UserChg</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>UserChgZ</servlet-name>
    <url-pattern>/servlet/UserChgZ</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>UserRest</servlet-name>
    <url-pattern>/servlet/UserRest</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>ProdInp</servlet-name>
    <servlet-class>ProdInp</servlet-class>
</servlet>
<servlet>
    <servlet-name>ProdInp2</servlet-name>
    <servlet-class>ProdInp2</servlet-class>
</servlet>
<servlet>
    <servlet-name>ProdSear</servlet-name>
    <servlet-class>ProdSear</servlet-class>
</servlet>
<servlet>
    <servlet-name>CustSear</servlet-name>
    <servlet-class>CustSear</servlet-class>
</servlet>
<servlet>
    <servlet-name>CuacSear</servlet-name>
    <servlet-class>CuacSear</servlet-class>
</servlet>
<servlet>
    <servlet-name>ProdSear2</servlet-name>
    <servlet-class>ProdSear2</servlet-class>
</servlet>
<servlet>
    <servlet-name>SuppSear</servlet-name>
    <servlet-class>SuppSear</servlet-class>
</servlet>
<servlet>
    <servlet-name>ProdUpd</servlet-name>
    <servlet-class>ProdUpd</servlet-class>
</servlet>
<servlet>
    <servlet-name>CustUpd</servlet-name>
    <servlet-class>CustUpd</servlet-class>
</servlet>
<servlet>
    <servlet-name>CuacUpd</servlet-name>
    <servlet-class>CuacUpd</servlet-class>
</servlet>
<servlet>
    <servlet-name>TblUpd</servlet-name>
    <servlet-class>TblUpd</servlet-class>
</servlet>
<servlet>
    <servlet-name>MCUpd</servlet-name>
    <servlet-class>MCUpd</servlet-class>
</servlet>
<servlet>
    <servlet-name>ECUpd</servlet-name>
    <servlet-class>ECUpd</servlet-class>
</servlet>
<servlet>
    <servlet-name>ProdUpdS</servlet-name>
    <servlet-class>ProdUpdS</servlet-class>
</servlet>
<servlet>
    <servlet-name>ProdUpdZ</servlet-name>
    <servlet-class>ProdUpdZ</servlet-class>
</servlet>
<servlet>
    <servlet-name>CustUpdZ</servlet-name>
    <servlet-class>CustUpdZ</servlet-class>
</servlet>
<servlet>
    <servlet-name>CuacUpdZ</servlet-name>
    <servlet-class>CuacUpdZ</servlet-class>
</servlet>
<servlet>
    <servlet-name>SuppUpd</servlet-name>
    <servlet-class>SuppUpd</servlet-class>
</servlet>
<servlet>
    <servlet-name>SuppUpdS</servlet-name>
    <servlet-class>SuppUpdS</servlet-class>
</servlet>
<servlet>
    <servlet-name>SuppUpdZ</servlet-name>
    <servlet-class>SuppUpdZ</servlet-class>
</servlet>
<servlet>
    <servlet-name>ProdUpd2</servlet-name>
    <servlet-class>ProdUpd2</servlet-class>
</servlet>
<servlet>
    <servlet-name>ProdUpdS2</servlet-name>
    <servlet-class>ProdUpdS2</servlet-class>
</servlet>
<servlet>
    <servlet-name>ProdUpdZ2</servlet-name>
    <servlet-class>ProdUpdZ2</servlet-class>
</servlet>
<servlet>
    <servlet-name>ProdDele</servlet-name>
    <servlet-class>ProdDele</servlet-class>
</servlet>
<servlet>
    <servlet-name>ProdDeleZ</servlet-name>
    <servlet-class>ProdDeleZ</servlet-class>
</servlet>
<servlet>
    <servlet-name>CustDele</servlet-name>
    <servlet-class>CustDele</servlet-class>
</servlet>
<servlet>
    <servlet-name>CustDeleZ</servlet-name>
    <servlet-class>CustDeleZ</servlet-class>
</servlet>
<servlet>
    <servlet-name>ProdDele2</servlet-name>
    <servlet-class>ProdDele2</servlet-class>
</servlet>
<servlet>
    <servlet-name>ProdDeleZ2</servlet-name>
    <servlet-class>ProdDeleZ2</servlet-class>
</servlet>
<servlet>
    <servlet-name>SuppDele</servlet-name>
    <servlet-class>SuppDele</servlet-class>
</servlet>
<servlet>
    <servlet-name>SuppDeleZ</servlet-name>
    <servlet-class>SuppDeleZ</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ProdInp</servlet-name>
    <url-pattern>/servlet/ProdInp</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>ProdInp2</servlet-name>
    <url-pattern>/servlet/ProdInp2</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>ProdSear</servlet-name>
    <url-pattern>/servlet/ProdSear</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>CustSear</servlet-name>
    <url-pattern>/servlet/CustSear</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>CuacSear</servlet-name>
    <url-pattern>/servlet/CuacSear</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>ProdSear2</servlet-name>
    <url-pattern>/servlet/ProdSear2</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>SuppSear</servlet-name>
    <url-pattern>/servlet/SuppSear</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>ProdUpd</servlet-name>
    <url-pattern>/servlet/ProdUpd</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>CustUpd</servlet-name>
    <url-pattern>/servlet/CustUpd</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>CuacUpd</servlet-name>
    <url-pattern>/servlet/CuacUpd</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>TblUpd</servlet-name>
    <url-pattern>/servlet/TblUpd</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>MCUpd</servlet-name>
    <url-pattern>/servlet/MCUpd</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>ECUpd</servlet-name>
    <url-pattern>/servlet/ECUpd</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>ProdUpdS</servlet-name>
    <url-pattern>/servlet/ProdUpdS</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>ProdUpdZ</servlet-name>
    <url-pattern>/servlet/ProdUpdZ</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>CustUpdZ</servlet-name>
    <url-pattern>/servlet/CustUpdZ</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>CuacUpdZ</servlet-name>
    <url-pattern>/servlet/CuacUpdZ</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>ProdUpd2</servlet-name>
    <url-pattern>/servlet/ProdUpd2</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>ProdUpdS2</servlet-name>
    <url-pattern>/servlet/ProdUpdS2</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>ProdUpdZ2</servlet-name>
    <url-pattern>/servlet/ProdUpdZ2</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>SuppUpd</servlet-name>
    <url-pattern>/servlet/SuppUpd</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>SuppUpdS</servlet-name>
    <url-pattern>/servlet/SuppUpdS</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>SuppUpdZ</servlet-name>
    <url-pattern>/servlet/SuppUpdZ</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>ProdDele</servlet-name>
    <url-pattern>/servlet/ProdDele</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>ProdDeleZ</servlet-name>
    <url-pattern>/servlet/ProdDeleZ</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>CustDele</servlet-name>
    <url-pattern>/servlet/CustDele</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>CustDeleZ</servlet-name>
    <url-pattern>/servlet/CustDeleZ</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>ProdDele2</servlet-name>
    <url-pattern>/servlet/ProdDele2</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>ProdDeleZ2</servlet-name>
    <url-pattern>/servlet/ProdDeleZ2</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>SuppDele</servlet-name>
    <url-pattern>/servlet/SuppDele</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>SuppDeleZ</servlet-name>
    <url-pattern>/servlet/SuppDeleZ</url-pattern>
</servlet-mapping>
<servlet-mapping>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <url-pattern>/servlet/FileUploadDBServlet</url-pattern>
    </servlet-mapping>


</web-app>
